<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="fragments/common :: head"> -->

<head th:replace="~{fragments/common :: head}">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="~{fragments/common :: menu}"> -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="~{fragments/common :: menu('board')}"></nav>

  <main class="container">
    <!--th:object="${board}" 걸어주면 board라는 이름으로 받아온값 xx.xx말고 그냥 쓸 수 있음-->
    <form method="post" th:action="@{/board/form}" th:object="${board}"> 
      <!-- th:field="*{id}" 타임리프에서는 EL표기 말고 th:field 사용 -->
      <input type="hidden" th:field="*{id}">
      <div class="bg-body-tertiary p-5 rounded">
        <h2>게시판</h2>
        <div class="mb-3">
          <label for="title" class="form-label">제목</label>
          <!-- <input type="text" class="form-control" id="title" name="title" th:field="*{title}"> -->
           <!-- title에 오류가나면 is-invalid 라는 에러 디자인 표시 class를 붙힌다-->
          <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" name="title" th:field="*{title}">
          
          <!-- <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">@제목에러@</td> // 부트스트랩 디자인딴거에 thif, therror 걸기-->
          <div id="validationServer03Feedback" class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            @제목에러@
          </div>

          <label for="content" class="form-label">내용</label>
          <textarea class="form-control" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" id="content" rows="3" name="content" th:field="*{content}"></textarea>
          <div id="validationServer03Feedback" class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            @내용에러@
          </div>
        </div>


        <p class="text-end">
          <button type="submit" class="btn btn-info">확인</button>
<!--          <button type="submit" class="btn btn-info" sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>-->
          <button type="submit" class="btn btn-info" th:onclick="|deleteBoard(*{id})|"
                                                     sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
          <!-- <button type="reset" class="btn btn-info" th:href="@{/board/list}">취소</button> -->
          <a type="reset" class="btn btn-info" th:href="@{/board/list}">취소</a>
        </p>
      </div>
    </form>
  </main>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
  function deleteBoard(id){
    $.ajax({
      url: '/api/boards/'+id,
      type: 'DELETE',
      success: function(result) {
        alert("삭제됐습니다.");
        location.href="/board/list";
      }
    });
  }
</script>
</body>

</html>